@page  
@using StockTicker.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>

<h1 class="display-4 text-center"><u>Stock Ticker Game</u></h1>

<!--Show this at page start then after information is submitted save the data and hide this div-->
<div id="startArea" class="text-center" runat="server">
    <form method="post">
        <span>Please Enter a Stock Symbol To Begin Game:</span>

        <select id="stockSymbol" name="stockSymbol" required>
               <option value="AAPL">AAPL - (apple)</option>
               <option value="MSFT">MSFT - (microsoft)</option>
               <option value="AMZN">AMZN - (amazon)</option>
               <option value="TSLA">TSLA - (tesla)</option>
               <option value="GME">GME - (gamestop)</option>
        </select>
        
        <br />
        @Html.AntiForgeryToken()
        <input type="button" id="startButton" value="Start" onclick="toggleDiv('startArea')"/>

    </form>
</div>


<!--after above info is submitted and saved to DB unhide this div-->
<div id="gameArea" class="text-center" style="visibility:hidden" runat="server">

    <!--Show graph here-->
    <div id="graph">GRAPH</div><br/>
 
    <!--users bank account-->
    <div class="text-center">  
    <table class="account-info">
        <tr>
            <th class="account-info">Bank Account: $</th>
            <td class="account-info">100</td>
        </tr>
        <tr>
            <th class="account-info">Owned Stock</th>
            <td class="account-info">10</td>
        </tr>
    </table>
    <br/>
    
    <form id="menu" method="post">
        <!--buttons for buy or sell-->
        <span>Would you like to Buy, Sell, Hold, or Quit?</span><br/>
        <input asp-page-handler="Buy" type="radio" id="buyButton" name="bshbtn" value="Buy">Buy</>
        <input asp-page-handler="Sell" type="radio" id="sellButton" name="bshbtn" value="Sell" />Sell</>
        <input asp-page-handler="Hold" type="radio" id="holdButton" name="bshbtn" value="Hold" />Hold</><br/>
        <!--quit button-->
        <input type="button" name="acceptButton" value="Accept"/><br/><br/>
        <input type="button" name="quitButton" value="Quit"/>
    </form>
    </div>
</div>
</html>

@section Scripts
{
    
    <script type="text/javascript">

        //function to hide/show divs on start button click
        function toggleDiv(id) {
            var div = document.getElementById(id);
            div.style.display = "none";
            var div = document.getElementById('gameArea');
            div.style.visibility = "visible";

        };
    </script>
    
    <!--Ajax Scripts-->
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript">

       
        $("#startButton").click(function() {
            $.ajax({
                type: "POST",
                url: "/Index?handler=AjaxGameStart",
                data:{"name": "World"},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    
                    document.getElementById("graph").innerHTML = message;
                };
            });
        });
    </script>
}
