@page  
@using StockTicker.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    

}
<!DOCTYPE html>
<html>
@Html.AntiForgeryToken()

<h1 class="display-4 text-center">Stock Ticker Game</h1>

<!--Show this at page start then after information is submitted save the data and hide this div-->
<div id="startArea" class="text-center" runat="server">
    <form method="post">
        <span>Please Enter a Stock Symbol To Begin Game:</span>

        <select type="" name="stockSymbol">
               <option value="AAPL">AAPL - (apple)</option>
               <option value="MSFT">MSFT - (microsoft)</option>
               <option value="AMZN">AMZN - (amazon)</option>
               <option value="TSLA">TSLA - (tesla)</option>
               <option value="GME">GME - (gamestop)</option>
        </select>
        
        <br />
        <input asp-page-handler="GameStart" type="button" id="startButton" value="Start" onclick="toggleDiv('startArea')"/>
    </form>
</div>

<!--after above info is submitted and saved to DB unhide this div-->
<div id="gameArea" class="text-center" style="display:none" runat="server">

    <!--Show graph here-->
    <div id="graph">GRAPH</div>
 
    <!--users bank account-->
    <div class="text-center">  
    <table class="account-info">
        <tr>
            <th class="account-info">Bank Account: $</th>
            <td class="account-info">100</td>
        </tr>
        <tr>
            <th class="account-info">Owned Stock</th>
            <td class="account-info">10</td>
        </tr>
    </table>
    <br/>
    
    <form method="post">
        <!--buttons for buy or sell-->
        <span>Would you like to Buy, Sell, Hold, or Quit?</span><br/>
        <input asp-page-handler="Buy" type="radio" id="bshButton" value="Buy"/>
        <input asp-page-handler="Sell" type="radio" id="bshButton" value="Sell"/>
        <input asp-page-handler="Hold" type="radio" id="bshButton" value="Hold"/><br/><br/>
        <!--quit button-->
        <input asp-page-handler="Continue" type="submit" name="NextButton" value="Next"/>
        <input asp-page-handler="Quit" type="submit" name="quitButton" value="Quit"/>
    </form>
    </div>
</div>
</html>

@section Scripts
{
 
    
    <script type="text/javascript">

        //this isnt working because the page keeps reloading on click
        function toggleDiv(id) {
            var div = document.getElementById(id);
            div.style.display = "none";
        }

        //$("#startButton").click(function() {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Index?handler=GetAjax",
        //        data:{"name": "success"},
        //        contentType: 'application/x-www-form-urlencoded',
        //        dataType: "json",
        //        headers:
        //        {
        //            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
        //        },
        //        success: function(message) {
        //            var startDiv = document.getElementById("startArea");
        //            var gameDiv = document.getElementById("gameArea");

        //            startDiv.style.display = "none";
        //            gameDiv.style.display = "block";
        //        };
        //    });

        //});
        
        //$("#doubleYourMoney").click(function() {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Index?handler=DoubleMoney",
        //        data: {"description": "please", "value": 2},
        //        contentType: 'application/x-www-form-urlencoded',
        //        dataType: "json",
        //        headers:
        //        {
        //            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
        //        },
        //        success: function( message ) {
        //            document.getElementById("result").innerHTML = message;
        //        }
        //    });

        //});        
    </script>
}
