@page  
@using StockTicker.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<h1 class="display-4 text-center">Stock Ticker Game</h1>

<!--Show this at page start then after information is submitted save the data and hide this div-->
<div id="startArea" class="text-center" runat="server">
    <form method="post">
        <span>Please Enter a Stock Symbol To Begin Game:</span>

        <select type="" name="stockSymbol">
               <option value="AAPL">AAPL - (apple)</option>
               <option value="MSFT">MSFT - (microsoft)</option>
               <option value="AMZN">AMZN - (amazon)</option>
               <option value="TSLA">TSLA - (tesla)</option>
               <option value="GME">GME - (gamestop)</option>
        </select>
        
        <br />
        <input asp-page-handler="GameStart" type="submit" id="invokeAjaxHello" value="Start"/>
    </form>
</div>

<!--after above info is submitted and saved to DB unhide this div-->
<div id="gameArea" class="text-center" style="display:none">

    <!--Show graph here-->
    <div id="graph">GRAPH</div>

    <!--users bank account-->
    <div class="text-center">  
    <table class="account-info">
        <tr>
            <th class="account-info">Bank Account: $</th>
            <td class="account-info">100</td>
        </tr>
        <tr>
            <th class="account-info">Owned Stock</th>
            <td class="account-info">10</td>
        </tr>
    </table>
    <br/>
    <form method="post">
        <!--buttons for buy or sell-->
        <span>Would you like to Buy, Sell, Hold, or Quit?</span><br/>
        <input asp-page-handler="Buy" type="submit" id="buyButton" value="Buy"/>
        <input asp-page-handler="Sell" type="submit" id="sellButton" value="Sell"/>
        <input asp-page-handler="Hold" type="submit" id="holdButton" value="Hold"/><br/><br/>
        <!--quit button-->
        <input asp-page-handler="Quit" type="submit" name="quitButton" value="Quit"/>
    </form>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">



        $("#invokeAjaxHello").click(function() {
            $.ajax({
                type: "POST",
                url: "/Index?handler=GetAjax",
                data:{"name": $('#testText').val()},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: drawChart();
            });

        });
        $("#doubleYourMoney").click(function() {
            $.ajax({
                type: "POST",
                url: "/Index?handler=DoubleMoney",
                data: {"description": "please", "value": 2},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function( message ) {
                    document.getElementById("result").innerHTML = message;
                }
            });

        });        
    </script>
}
