@page  
@using StockTicker.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>

<h1 class="display-4 text-center"><u>Stock Ticker Game</u></h1>

<!--Show this at page start then after information is submitted save the data and hide this div-->
<div id="startArea" class="text-center" runat="server">
    <form method="post">
        <span>Please Enter a Stock Symbol To Begin Game:</span>

        <select id="stockSymbol" name="stockSymbol">
               <option value="AAPL">AAPL - (apple)</option>
               <option value="MSFT">MSFT - (microsoft)</option>
               <option value="AMZN">AMZN - (amazon)</option>
               <option value="TSLA">TSLA - (tesla)</option>
               <option value="GME">GME - (gamestop)</option>
        </select>
        
        <br />
        @Html.AntiForgeryToken()
        <input type="button" id="startButton" value="Start" onclick="toggleDiv('startArea')"/>

    </form>
</div>


<!--after above info is submitted and saved to DB unhide this div-->
    <div id="gameArea" class="text-center" style="visibility:hidden" runat="server">

    <!--Show graph here-->
    <div id="graph">GRAPH</div><br/>
    <center>
        <div id="tester" style="width:600px;height:250px;"></div>
        <div class="slidecontainer">
            <input type="range" min="1" max="@Model.Balance" value="50" class="slider" id="myRange">
            <p>Amount: <span id="demo"></span></p>
        </div>
    </center>

    <!--users bank account-->
    <div class="text-center">  
    <table class="account-info">
        <tr>
            <th class="account-info">Bank Account:</th>
            <td class="account-info">$@Model.Balance</td>
        </tr>
        <tr>
            <th class="account-info">Owned Stock:</th>
            <td class="account-info">@Model.StockOwned</td>
        </tr>
    </table>
    <br/>
    
    <form id="menu" method="post">
        <!--buttons for buy or sell-->
        <div id="stockInfo"></div>
        <span>Would you like to Buy, Sell, Hold, or Quit?</span><br />
        <input asp-page-handler="Buy" type="radio" id="buyButton" name="bshbtn" value="Buy" onclick="showBuySellInput()">Buy</>
        <input asp-page-handler="Sell" type="radio" id="sellButton" name="bshbtn" value="Sell" onclick="showBuySellInput()" />Sell</>
        <input asp-page-handler="Hold" type="radio" id="holdButton" name="bshbtn" value="Hold" onclick="showBuySellInput()"/>Hold</><br />
        <input type="text" id="buySellInput" style="visibility:hidden" /><br /><br />
        <!--quit button-->
        <input type="button" name="acceptButton" value="Accept" onclick=""/><br/>
        <input type="button" name="quitButton" value="Quit" />
    </form>
    </div>
</div>
</html>

@section Scripts
{

    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="plotly-2.12.1.min.js"></script>

    <script>
        var data = [
            {
                x: ['Bank Account', 'Stocks'],
                y: [@Model.Balance, @Model.StockOwned],
                type: 'bar'
            }
        ];

        Plotly.newPlot('tester', data);
    </script>

    <script type="text/javascript">
        function showBuySellInput() {
            var hold = document.getElementById("holdButton");
            if (hold.checked) {
                document.getElementById("buySellInput").style.visibility = 'hidden';
            }
            else {
                document.getElementById("buySellInput").style.visibility = 'visible';
            }
        }
    </script>
    
    <script type="text/javascript">

        //function to hide/show divs on start button click
        function toggleDiv(id) {
            var div = document.getElementById(id);
            div.style.display = "none";
            var div = document.getElementById('gameArea');
            div.style.visibility = "visible";

        };
    </script>
    
    <!--Ajax Scripts-->
    <script type="text/javascript">
    
        $("#startButton").click(function() {
            //var symbol = document.getElementById("stockSymbol").options[document.getElementById("stockSymbol")].value;
            var e = document.getElementById("stockSymbol");
            var strUser = e.value;
            $.ajax({
                type: "POST",
                url: "/Index?handler=AjaxGameStart",
                data: { "val": strUser },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    
                    document.getElementById("stockInfo").innerHTML = message;
                }
            });
        });

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }

    </script>
}
