@page
@model PrivacyModel
@{
    ViewData["Title"] = "Project Details ";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail the site.</p>

<p>This is a College school project for CS 3750</p>

<h1>Created By: Aric, Colby, and Cayden</h1>


<h2>Can you win the stock game and walk away with millions??</h2>
